on:
  push:
    branches: [ main ]
  pull_request:

name: CI

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: check

  test:
    name: Test Suite
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --lib  # Don't run integration tests

  integration-tests:
    name:  Integration Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --release --test test_integration  # Only run integration tests

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - run: rustup component add rustfmt
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check  # Also fmt subdirectories

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - run: rustup component add clippy
      - uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all -- -D warnings
  
  R-CMD-check:

    strategy:
      fail-fast: false
      matrix:
         os: ['ubuntu-latest', 'windows-latest', 'macos-latest']
    
    name: R CMD check (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: r-lib/actions/setup-pandoc@v1
      - uses: r-lib/actions/setup-r@v1
        with:
          r-version: 'release'
          use-public-rspm: true
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: 'stable'
      - name: Install rextendr
        run: |
          install.packages("rextendr", repos="http://cran.us.r-project.org")
          install.packages("testthat", repos="http://cran.us.r-project.org")
        shell: Rscript {0}
      - name: Run R CMD check
        run: |
          R CMD build ./hdcd-r
          _R_CHECK_CRAN_INCOMING_=false R CMD check --as-cran --no-vignettes --no-manual hdcdr_*.tar.gz
          CHECK_LOG_FILE=hdcdr.Rcheck/00check.log
          CHECK_INSTALL_FILE=hdcdr.Rcheck/00install.out
          if ! [[ -f "$CHECK_LOG_FILE" ]]; then
            echo "Log-file not found."
            exit 1
          fi
          if cat $CHECK_LOG_FILE | grep -q "ERROR"; then
            cat $CHECK_INSTALL_FILE
            cat $CHECK_LOG_FILE
            exit 1
          fi
          if cat $CHECK_LOG_FILE | grep -q "WARNING"; then
            echo "Found warnings, treated as errors."
            cat $CHECK_LOG_FILE
            exit 1
          fi
        # e: pipefail
        # x: print commands
        # u: unset variables are errors
        # l: as login script
        shell: bash -lxu {0}


  python-tests:
    strategy:
      fail-fast: false
      matrix:
         os: ['ubuntu-latest', 'windows-latest', 'macos-latest']

    name: Python tests (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    container: condaforge/mambaforge

    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: 'stable'
      - name: Install dependencies
        run: |
          apt-get update -y
          apt-get install -y build-essential
          cd hdcd-python
          mamba env create -f environment.yml
          source activate hdcd
          maturin develop
          pytest tests
        shell: bash -lxeu {0}
